.devbox/
.git/
.github/
.vscode/

node_modules/
**/node_modules/

coverage/
**/coverage/
reports/
**/reports/

coverage-html.tar.gz
**/coverage-html.tar.gz

semgrep-report.json
**/semgrep-report.json

ecr-scan-findings.json
**/ecr-scan-findings.json
scan-wait.err
**/scan-wait.err

taskdef.json
**/taskdef.json
taskdef.rendered.json
**/taskdef.rendered.json
imageDetail.json
**/imageDetail.json

.env
.env.*